body {
    background-color:rgb(33, 33, 34);
}

.form {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: solid 1px #ccc;
    width: 350px;
    height: 500px;
    top: 50%;
    left: 50%;
    position: absolute;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    margin: 0;
}
/* already a member? */
.login-h3 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 24px;
}
/* form inputs */
input[type=text], input[type=password] {
    width: 95%;
    padding: 12px 20px;
    padding-top: 10px;
    margin: 4px 85px;
    display: inline-block;
    border: 1px solid rgba(115, 82, 122, 0.486);
    box-sizing: border-box;
    background-color: rgb(33, 33, 34);
    color:rgba(175, 149, 35, 0.836);
    font-size: 18px;
}
input[type=text]:focus, input[type=password]:focus {
    outline: none !important;
    border: 1px solid rgba(115, 82, 122, 0.938);
}
/* for placeholder text in login form */
::placeholder {
    color: rgba(115, 82, 122, 0.938);
    display: flex;
    justify-content: center;
    text-align: center;
}
/* Set a style for all buttons */
button {
    display: flex;
    justify-content: center;
    flex-direction: horizontal;
    align-items: center;
    text-align: center;
    background-color: rgb(51, 47, 50);
    color: rgba(115, 82, 122, 1);
    /* height of button/width of button */
    padding: 10px 30px;
    /* spacing from "password"/spacing between buttons */
    margin: 20px 20px;
    border: none;
    cursor: pointer;
    width: 25%;
    font-size: 14px;
}
/* for rounded corners on buttons */
button {border-radius: 12px;}
/* Add a hover effect for buttons */
button:hover {
    opacity: 0.7;
}

/* for login inputs */
.container1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100hv;
    margin: 0;
    width: 100%;
}
/* for login/forgot buttons */
.container2 {
    display:flex;
    flex-direction: horizontal;
    justify-content: center;
}
/* for login error message */
.container3 {
    display:flex;
    flex-direction: horizontal;
    justify-content: center;
}