/* body {
  margin: 90;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color:rgb(33, 33, 34);
  color: rgb(139, 56, 139);
} */

body {
  background-color:rgb(33, 33, 34);
  color: rgb(139, 56, 139);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100hv;
  margin: 0;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


/* .header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
} */